.desafio {
    &-column {
        display: flex;
        justify-content: space-between;
        background: #ebf6ee;
        background-size: cover;
        position: relative;
        height: 100vh;
        flex-direction: column;
        align-items: center;
    }
    &-title--box {
        margin-top: 50px;
    }
    &-center--box {
        box-shadow: 0px 1px 3px #ccc;
        padding: 35px 25px;
        height: auto;
        background: #fff;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        width: 40%;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &-collapse-repository {
        max-height: 380px;
        min-height: 380px;
        margin-bottom: 18px;
        box-shadow: 0px 1px 3px #ccc;
        padding: 35px 25px;
        height: auto;
        background: #fff;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        width: 40%;
        position: unset;
        top: unset;
        left: unset;
        transform: unset;
    }
    &-collapse-favorites {
        max-height: 380px;
        min-height: 380px;
        margin-bottom: 18px;
        box-shadow: 0px 1px 3px #ccc;
        padding: 35px 25px;
        height: auto;
        background: #fff;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        width: 40%;
        position: unset;
        top: unset;
        left: unset;
        transform: unset;
    }
    &-image--container {
        display: flex;
        width: 33%;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
    }
    &-list--container {
        display: flex;
        width: 63%;
        flex-direction: column;
        justify-content: space-between;
    }
    &-table--repositorios {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }
    &-table--favorites {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }
    &-list-repos {
        display: flex;
        flex-direction: column;
        span {
            margin-top: 10px;
        }
    }
    &-list-repos--button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &-avatar-box {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background-size: cover!important;
    }
    &-footer {
        display: flex;
        width: 100%;
        background: #373737;
        height: 100px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &-text-footer {
        color: #fff;
    }
    &-div-button {
        cursor: pointer;
        padding: 5px;
        text-align: center;
        width: 45%;
        border: solid 1.5px #9ad2ab;
        color: #9ad2ab;
        border-radius: 3px;
    }
    &-div-button:hover {
        border: solid 1.5px #8abb98;
        color: #8abb98;
        background-color: rgb(236, 236, 236);
    }
    &-div-button-focus {
        border: solid 1.5px #8abb98;
        color: #8abb98;
        background-color: rgb(236, 236, 236);
    }
}
.repository {
    &-overflow {
        max-height: 135px;
        overflow: auto;
    }
}
.favorites {
    &-overflow {
        max-height: 135px;
        overflow: auto;
    }
}

.hide {
    display: none;
}

.show{
    display: flex;
}